html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:lightcoral;
}
.db-card {
    color: #fff;
}

.bg-c-blue {
    background-color:orangered
}

.bg-c-green {
    background-color: red
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background-color:saddlebrown;
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .card .card-block {
        padding: 25px;
        color:wheat;
    }

.db-card i {
    font-size: 26px;
}
center{
    color:green;
}
h4 {
    color: green;
}
header{
    background-color:firebrick;
    color:lightseagreen;
    font-size:20px;
}

