
@page
@model ProjectDB.Pages.Tests.AddModel
@{
}

<h3>Start test</h3>

<form method="post">

    


    <div>
        <label  for="question">1.java is plateform---</label>
        <input type="radio" name="r1" id="rad" value="1" />Dependent
        <input type="radio" name="r1" id="rad" value ="0" />Independent
    </div>
    <div>
          <label  for="question">2.RBC is kind of---</label>
        <input type="radio" name="r2" id="rada" value="1" />Blood
        <input type="radio" name="r2" id="rada" value ="0" />Wine
    </div>
    <div>
          <label  for="question">3.Capital of India is------</label>
        <input type="radio" name="r3" id="rade" value="1" />Chennai
        <input type="radio" name="r3" id="rade" value ="0" />Delhi
    </div>
      <div>
          <label  for="question">4.PH value of Blood is---</label>
        <input type="radio" name="r4" id="radi" value="1" />7.4
        <input type="radio" name="r4" id="radi" value ="0" />6.9
    </div>
      <div>
          <label  for="question">5.Purity of Milk is measured by---</label>
        <input type="radio" name="r5" id="rady" value="1" />Lactometer
        <input type="radio" name="r5" id="rady" value ="0" />Barometer
    </div>

      <button type="submit" class="btn btn-success">Submit</button> 
</form>